<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/newbelgium/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="MizterDuster" />
			<add key="ClearTextPassword" value="f4a250ec255f1e93ee99daa987afec318b19ed0d" />
		</github>
	</packageSourceCredentials>
</configuration>